doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block end-js
        script(src='/socket.io/socket.io.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

