extends ../layout

block append css
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	.container
		
		.row
			.col-md-12.hidden-sm.hidden-xs
				h1.white Black Jack
			.col-sm-12.hidden-lg.hidden-md.hidden-xs
				h1.white Black Jack
			.col-xs-12.hidden-lg.hidden-md.hidden-sm
				h1.white Black Jack
		.row
			form(action='',method='post')
				input(type='hidden' name="_csrf" value="#{csrfToken}")
				input(type='password' name='password')
				button.btn.btn-warning.btn-lg.btn-block(type="submit") CreatGame
		#logo			

block append end-js
	script(src='/javascripts/socket.js')
