extends ../layout

block append css
	link(rel='stylesheet', href='/stylesheets/roomId.css')

block content
	.container
				
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
				img(src="/img/QR.svg").img-responsive
		.row
			h1 NCHUIT
			h2 Scan QR code or Enter the code below on the mobile site.
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				h2 Player list
				h4 1. DU,JIE
				h4 2. Jason
				h4 3. Waitting...
				h4 4. Waitting...
		#logo
