#roomId
	.container
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
				img(src="/qr/").img-responsive
		.row
			h1.white(style= 'text-align: center',) NCHUIT
			h2.white(style= 'text-align: center',) Scan QR code or Enter the code below on the mobile site.
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
				h2.white Player list
				h4.white#player-1 1. Waitting...
				h4.white#player-2 2. Waitting...
				h4.white#player-3 3. Waitting...
				h4.white#player-4 4. Waitting...
		#logo
