extends ../layout
block append js
	script(src='/javascripts/observer.js')
block append css
	link(rel='stlesheet', href='/stylesheets/observer-room.css')


block content
	include ./roomId.jade
	include ./poker_table.jade
	include ./result.jade