#player-nick
	.container
		.row
			form#nick
				.form-group
					input.form-control(name="nick", placeholder="Please key your nickname")
				.form-group
					button.btn.btn-info.btn-lg.btn-block(type='submit')#btn-submit Submit
					button.btn.btn-warning.btn-lg.btn-block(type='submit')#btn-start Start
		#logo
