//- block append css
//- 	link(rel='stylesheet', href='/stylesheets/nick.css')

#player-nick
	.container
		.row
			form#nick
				.form-group
					input.form-control(name="nick", placeholder="Please key your nickname")
				.form-group
					button.btn.btn-warning.btn-lg.btn-block#btn-start Start
		#logo
