//- block append css
//- 	link(rel='stylesheet', href='/stylesheets/player.css')

body#poker-table
	.container
		h1.white(style= {color: 'white',}) Black Jack
		#outcome.alert.alert-info(role= 'alert') No message.

		.blackjack-board.row(style= {'padding': '0px 15px'})
			#player.panel.panel-success
				.panel-heading
					.panel-title
					span.glyphicon.glyphicon-user
					|  DU,JIE 
					span.badge 16
				.panel-body
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
	#logo
