//- block append css
//- 	link(rel='stylesheet', href='/stylesheets/player.css')

#poker-table
	.container
		h1.white(style= {color: 'white',}) Black Jack
		#outcome.alert.alert-info(role= 'alert') No message.

		.blackjack-board.row(style= {'padding': '0px 15px'})
			#player.panel.panel-success
				.panel-heading
					h3.panel-title
						span.glyphicon.glyphicon-user
						|  DU,JIE 
						span.badge 16
				.panel-body
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
					.poker.poker-back-heartstone
			.row
				.col-xs-6
					button.btn.btn-info.btn-lg.btn-block Hit
				.col-xs-6
					button.btn.btn-warning.btn-lg.btn-block Stand
        #logo
