extends ../layout
block append css
	link(rel='stylesheet', href='/stylesheets/player-room.css')

block content
	include ./nick.jade
	include ./poker_table.jade
	include ./result.jade
block append end-js
	script(src='/javascripts/socket.js')
